<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a>
            IRIS Tech
          </a>
        </li>
        <li>
          <a>
            À Propos
          </a>
        </li>
        <li>
          <a>
            Notre Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed by
      <a target="_blank">IRIS TECH</a>. Coded by
      <a target="_blank">IRIS TECH</a>.
    </div>
  </div>
</footer>